// vars
$level-1-color: #bbb;
$level-2-color: #888;
$level-3-color: #666;

$paragraphs-topbar-bg-color: #eee;

$paragraphs-previewer-link-color: #0074bd;
$table-bg-color: #fcfcfa;
$table-bg-color-hover: #f7fcff;
$table-border-color: #e6e4df;
$adminimal-button-border-color: #a6a6a6;

$paragraphs-save-warning-color: #e72b2b;